<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <add key="NIC_ClientIpAddress"  value="10.8.3.52" />
    <add key="NIC_lang"  value="AR" />
    <add key="NIC_Password"  value="@imol@service@prod@435" />
    <add key="NIC_UserName"  value="IMOL_SERVICEUser_Prod" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="Mol.Integration.Lib.Binding.ClearUsernameCollectionElement, Mol.Integration.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <services>
      <service behaviorConfiguration="IntegrationBehavior" name="Mol.Integration.Lib.Service.NICService">
        <endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint"
          contract="IMetadataExchange" />
        <endpoint binding="clearUsernameBinding" bindingConfiguration="clearHttp" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9510/NICService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingUserName">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <clearUsernameBinding>
        <binding name="clearHttp" />
      </clearUsernameBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IntegrationBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
            <!--<clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
            <serviceCertificate findValue="IntegrationTestWS" storeLocation="LocalMachine"
              storeName="My" x509FindType="FindBySubjectName" />-->
            <userNameAuthentication
                    userNamePasswordValidationMode="Custom"
                    customUserNamePasswordValidatorType="Mol.Integration.Lib.Authentication.UserNamePasswordValidator, Mol.Integration.Lib" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Mol.Integration.Lib.Authorization.AuthorizationManager, Mol.Integration.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <authorizationPolicies>
              <add policyType="Mol.Integration.Lib.Authorization.AuthorizationPolicy, Mol.Integration.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="http://10.8.250.90/SamisWSProd/MOL/Service.svc" binding="basicHttpBinding" contract="Mol.Integration.Lib.Proxies.IMOL_SERVICE" name="NIC_BasicEndPoint"/>
    </client>   
  </system.serviceModel>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="MOL_Entities" connectionString="metadata=res://*/Data.IntegrationServices.csdl|res://*/Data.IntegrationServices.ssdl|res://*/Data.IntegrationServices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.26.20.86;initial catalog=MOL_Generation_phaseI;user id=moldbuser;password=moldbuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>