<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="NIC_ClientIpAddress" value="10.8.3.52"/>
    <add key="NIC_lang" value="AR"/>
    <add key="NIC_Password" value="@imol@service@prod@435"/>
    <add key="NIC_UserName" value="IMOL_SERVICEUser_Prod"/>
    <add key="IS_LoggingEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IntegrationBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None"/>
            </clientCertificate>
            <serviceCertificate findValue="32 43 06 d4 c1 69 26 83 6b f0 2e d4 d7 be 4d b6 c9 c4 6b a6" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Mol.Integration.Lib.Authentication.UserNamePasswordValidator, Mol.Integration.Lib"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Mol.Integration.Lib.Authorization.AuthorizationManager, Mol.Integration.Lib">
            <authorizationPolicies>
              <add policyType="Mol.Integration.Lib.Authorization.AuthorizationPolicy, Mol.Integration.Lib"/>
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="IntegrationBehavior" name="Mol.Integration.Lib.Service.NICService">
        <endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint" contract="IMetadataExchange"/>
        <endpoint binding="wsHttpBinding" bindingConfiguration="wsHttpBindingUserName" bindingNamespace="http://mol.gov.sa/services/" name="wsHttpBinding" contract="Mol.Integration.Lib.Contract.Service.INICService"/>
        <endpoint binding="clearUsernameBinding" bindingConfiguration="clearHttp" bindingNamespace="http://mol.gov.sa/services/" name="clearUsernameBinding" contract="Mol.Integration.Lib.Contract.Service.INICService" address="clear"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9510/NICService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="Mol.Integration.Lib.Binding.ClearUsernameCollectionElement, Mol.Integration.Lib"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingUserName">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <clearUsernameBinding>
        <binding name="clearHttp" messageVersion="Soap12"/>
      </clearUsernameBinding>
      <basicHttpBinding>
        <binding name="BasicsEndPoints" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://gws.moi/SamisWSProd/MOL/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicsEndPoints" contract="Mol.Integration.IntegrationProxy.NicWebService.IMOL_SERVICE" name="BasicsEndPoints"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MOL_Entities" connectionString="metadata=res://*/Data.IntegrationServices.csdl|res://*/Data.IntegrationServices.ssdl|res://*/Data.IntegrationServices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.26.20.86;initial catalog=MOL_Generation_phaseI;user id=moldbuser;password=moldbuser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>