<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="userNameClientCredentials" type="Mol.Integration.Lib.Binding.UserNameClientCredentialsElement, Mol.Integration.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6cab999039154dcd" />
      </behaviorExtensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="Mol.Integration.Lib.Binding.ClearUsernameCollectionElement, Mol.Integration.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6cab999039154dcd" />
      </bindingExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="wsHttpBehavior">
          <userNameClientCredentials userName="tamkeen" password="123">
            <serviceCertificate>
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </userNameClientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpEndPoint">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12" />
      </clearUsernameBinding>
    </bindings>

    <client>
      <endpoint address="http://172.26.20.52:9510/NICService.svc/clear"
        behaviorConfiguration="wsHttpBehavior" binding="clearUsernameBinding"
        bindingConfiguration="myClearUsernameBinding" contract="INICService"
        name="clearUsernameBinding" />

      <endpoint address="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpEndPoint" behaviorConfiguration="wsHttpBehavior"
        contract="INICService" name="wsHttpBinding">
        <identity>
          <dns value="biztalk-srv3" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>

</configuration>
